.imageWrapper {
  margin-bottom: 1em;
  text-align: center;
}

.share {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.shareButtons {
  display: flex;
  flex-wrap: inherit;
  gap: inherit;
}
