.noResultsMessage {
  color: var(--color-muted);
  text-align: center;
}

.templatesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  gap: 1em;
}
