.tagline {
  font-size: 1.25em;
}

.btn {
  display: inline-block;
  border: 1px solid;
  padding: 0.5em 2em;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.btn_solid {
  border-color: transparent;
  background: white;
  color: rebeccapurple;
}

.btn + .btn {
  margin-left: 12px;
}
