@import 'normalize.css';

:root {
  font: 1em system-ui;
}

::selection {
  background: white;
  color: rebeccapurple;
}

:any-link {
  color: inherit;
}

html {
  box-sizing: border-box;
  padding: 24px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rebeccapurple;
  color: white;
  text-align: center;
}

body {
  margin: 0;
}
