@import 'normalize.css/opinionated.css';

::selection {
  background: white;
  color: rebeccapurple;
}

:root {
  box-sizing: border-box;
  padding: 24px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rebeccapurple;
  color: white;
  font-family: system-ui;
  text-align: center;
}

:any-link {
  color: inherit;
}
