.root {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 100%;
}

.header {
  position: fixed;
  inset: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #639;
}

.header,
.header_placeholder {
  height: env(titlebar-area-height, 40px);
}

.header::after {
  content: '';
  position: absolute;
  inset: 100% 0 auto;
  height: 3px;
  background: var(--color-accent);
  transform: scaleX(1);
  transform-origin: left;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 400ms, 200ms;
  transition-timing-function: ease-out;
}

.root_loading .header::after {
  transform: scaleX(0.3);
  opacity: 1;
  transition-property: none;
}

.headerInner {
  --color-accent: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: env(titlebar-area-x, auto);
  margin-right: auto;
  padding: 0 0.5em;
  max-width: env(titlebar-area-width, var(--container-width));
  width: 100%;
  color: var(--color-accent);
}

.searchForm {
  flex: 1 1 0;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.searchInput {
  padding: 0.25em 0.5em;
  width: 100%;
}

.main {
  flex: 1 1 0;
}

.footer {
  margin: 0 0.5em;
  border-top: 1px solid;
  color: var(--color-muted);
  font-size: 12px;
  text-align: center;
}

.container {
  margin: auto;
  padding: 0 0.5em;
  max-width: var(--container-width);
}
